<style>
    .hand:before{
        content: '{{text.handDialog.HAND}}'
    }
</style>

<div ng-controller="gameCtrl">
<header class="navbar">
    <div class="container">
        <div class="navbar-header">
            <i class="navbar-brand-icon"></i>
            <a class="navbar-brand" href="../../../../"> Mahjong </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a target="_blank" href="../../mahjong_rules_ru.pdf">{{text.RULES}}</a></li>
                <li class="language">
                    <a ng-class="{active: lang == 'ru'}" ng-click="changeLang('ru')">ru</a>
                    <span class="info"> | </span>
                    <a ng-class="{active: lang == 'en'}" ng-click="changeLang('en')">en</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div class="topbar ng-cloak">

    <div class="container small" ng-show="game_started">
        <div class="topic">
            <div class="white-button pull-right">
                <b trigger-modal="#playersPositions">{{text.START_NEW_GAME}}</b>
            </div>
        </div>
    </div>

    <div class="container big" ng-hide="game_started">
        <div class="topic">
            <div>{{text.MAHJONG}}</div>
            <div class="white-button">
                <hr />
                <b trigger-modal="#playersPositions">{{text.START_GAME}}</b>
                <hr />
            </div>
        </div>
    </div>
</div>

<div class="about" ng-hide="game_started">
    <div class="container">
        <h3> {{text.description.HEADER}} </h3>

       {{text.description.FIRST_PARAGRAPH}}<br/>
       {{text.description.SECOND_PARAGRAPH}}<br>
       {{text.description.THIRD_PARAGRAPH}}<br/><br/>
       {{text.description.FOURTH_PARAGRAPH}}

        <hr>

        <span class="label label-danger">!</span> {{text.description.FIFTH_PARAGRAPH}}
        <ol>
            <li> {{text.description.FIRST_LIST}}</li>
            <li> {{text.description.SECOND_LIST}}</li>
            <li> {{text.description.THIRD_LIST}}</li>
        </ol>

        <hr>

        <div class="contacts">
            {{text.contacts.PARAGRAPH}}

            <form  role="form" action="mailto:natali-ananyeva@yandex.ru?subject=Mahjong" method="post" enctype="text/plain">
                <input type="hidden" name="subject" value="Mahjong">
                <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="{{text.contacts.EMAIL_PLACEHOLDER}}"/>
                    <div class="info">{{text.contacts.EMAIL_HELPER}}</div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="message" placeholder="{{text.contacts.MESSAGE_PLACEHOLDER}}"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-danger" value="{{text.contacts.SEND}}" />
                </div>
            </form>
        </div>
    </div>
</div>


<div class="container ng-cloak" ng-if="games.length > 0">
    <div class="col-sm-6 rounds">
        <table>
            <tr>
                <td></td>
                <td class="wind player-second" ng-click="openHandScore(players[3].wind)" trigger-modal="#countPoints">
                    <span ng-class="players[3].wind">{{players[3].wind}}</span> <div class="info">{{players[3].name}}</div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="wind player-first" ng-click="openHandScore(players[0].wind)" trigger-modal="#countPoints">
                    <span ng-class="players[0].wind">{{players[0].wind}}</span> <div class="info">{{players[0].name}}</div>
                </td>
                <td><div class="players-table"></div></td>
                <td class="wind player-third" ng-click="openHandScore(players[2].wind)" trigger-modal="#countPoints">
                    <span ng-class="players[2].wind">{{players[2].wind}}</span> <div class="info">{{players[2].name}}</div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="wind player-fourth" ng-click="openHandScore(players[1].wind)" trigger-modal="#countPoints">
                    <span ng-class="players[1].wind">{{players[1].wind}}</span> <div class="info">{{players[1].name}}</div>
                </td>
                <td></td>
            </tr>
        </table>
    </div>

    <div class="col-sm-6 players">
        <div class="info" ng-show="games[0].rounds.length == 1">
            {{text.game.FIRST_PARAGRAPH}}  <br /><br />
            {{text.game.SECOND_PARAGRAPH}}  <br /><br />
            {{text.game.THIRD_PARAGRAPH}}
        </div>

        <h4> {{text.game.POINTS}} </h4>
        <table class="table">
            <tr>
                <th ng-repeat="player in players">
                    {{player.name}} <span class="info">{{player.wind}}</span>
                </th>
            </tr>
            <tbody ng-repeat="game in games">
            <tr> <td colspan="4" style="text-align: center;" title="{{text.game.PREVAILING_WIND}} - {{getWindName(game.prevailing_wind)}}"> {{getWindName(game.prevailing_wind, true)}} {{text.game.GAME}} </td> </tr>
            <tr ng-repeat="round in game.rounds">
                <td ng-repeat="score in round.score track by $index" ng-class="{'text-success strong': round.mahjong_idx == $index}">
                    {{ score || "&ndash;" }}
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <h5 class="strong" ng-click="show_result = !show_result">{{text.game.RESULTS}} <span class="caret"></span></h5>
            <table class="table" ng-show="show_result">
                <tr><td colspan="4"> <span class="info">{{text.game.POINTS_COUNT}}</span></td></tr>
                <tr>
                    <td ng-repeat="player in players">
                        {{player.score || 0}}
                    </td>
                </tr>
                <tr><td colspan="4"><span class="info">{{text.game.MONEY_SUM}}</span></td></tr>
                <tr>
                    <td ng-repeat="player in players">
                        {{player.coins || 0}}
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>


<ng-include src="'views/playersDialog.html'"></ng-include>

<ng-include src="'views/handDialog.html'"></ng-include>
</div>